---
const today = new Date();
---


<footer class="bg-gray-800">
  <div class="w-full mx-auto max-w-screen-xl p-6 md:flex md:items-center md:justify-between">
    <span class="text-sm sm:text-center text-gray-400">&copy; {today.getFullYear()} Your name here. All rights reserved.</span>
  </div>
</footer>
