---
import type { MarkdownHeading } from "astro";

type Props = {
  headings: MarkdownHeading[];
  class?: string;
};

const { headings, class: _class } = Astro.props;
const toc = headings.filter((heading) => heading.depth <= 3);
---

<aside class:list={["lg:sticky", "lg:top-0", "lg:self-start", _class]}>
  <ol class="space-y-2 list-decimal list-inside">
    {
      toc.map((t) => (
        <li>
          <a href={`#${t.slug}`} class="text-sky-600 hover:underline">
            {t.text}
          </a>
        </li>
      ))
    }
  </ol>
</aside>
